@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Chunky Retro';
  src: url('/fonts/ChunkyRetro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --border-radius: 8px;

  --primary-noto: "Noto Serif", serif;
  --secondary-poppins: "Poppins", sans-serif;
  --supporting-retro: "Chunky Retro";

  --primary-orange: #D75B27;
  --primary-purple: #C9B9D9;
  --secondary-lime: #DDE78B;
  --secondary-green: #2A4B24;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 { 
  font-family: var(--secondary-poppins);
}

nav {
  display: flex;
  justify-content: center;
  background-color: white;
}

footer {
  position: relative;
  background-color: var(--secondary-green);
  color: white;
  max-width: 100vw;
  height: 80vh;
  margin-bottom: 0%;
  padding-top: 1.5rem;
  overflow: hidden;
}