.paly {
  height: 200px;
}

.h2 {
  font-family: var(--secondary-poppins);
  font-size: 3.5rem;
  color: var(--secondary-green);
  text-transform: uppercase;
}

.h2 .chunk {
  font-family: var(--supporting-retro);
  text-transform: capitalize;
  font-size: 2.2em;
  line-height: 0.5em;
  font-weight: normal;
  padding-top: 100px;
}

.h3 {
  font-family: var(--primary-noto);
  font-size: 3.6rem;
  color: var(--secondary-green);
  text-align: center;
  position: relative;
  z-index: 100;
}

.h3 .highlight {
  font-weight: 400;
  font-style: italic;
}

.h5 {
  font-family: var(--secondary-poppins);
  color: var(--primary-orange);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
} 

.footerGrid {
  display: grid;
  grid-template-columns: 40% 60%;
}

.footerInfo {
  padding-top: 70px;
  padding-left: 1em;
}

.footerInfo h3 {
  font-family: var(--secondary-poppins);
  font-size: 2em;
  padding-bottom: 1.6em;
}

.footerInfo p {
  font-family: var(--secondary-poppins);
  font-size: 1.7em;
  padding-bottom: 1.6em;
}

.footerHand {
  position: absolute;
  margin: auto;
  right: 0;
  bottom: -20%;
}

.footerLogo img {
  max-width: 100%;
  height: auto;
  transform: translate(-30%, -10%) rotate(15deg);
}

.footerHand img {
  max-width: 100%;
  height: auto;
  transform: translate(10%, 0%);
}

.centeredDiv {
  display: flex;
  justify-content: center;
}

.marginized {
  padding: 0em 10%;
}

.heroGrid {
  position: absolute;
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  top: 150px;
  left: 0;
  width: 100%;
  padding: 0px 10em;
  overflow: hidden;
}

.posOne {
  grid-column: 1;
  transform: rotate(-15deg);
}

.posTwo {
  grid-column: 3;
  transform: rotate(15deg);  
}

.paddingLeft {
  padding-left: 6em;
}

.paddingRight {
  padding-right: 6em;
}

.hero {
  background-color: var(--secondary-lime);
  padding: 10% 15% 0%;
  max-width: 100vw;
  overflow-x: hidden;
}

.heroText {
  margin-bottom: 10em;
}

.works {
  background: white;
  background-size: cover;
  padding: 5% 0;
  max-width: 100vw;
  overflow-x: hidden;
}

.works h2 {
  text-align: center;
}

.howTo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5em;
  margin: 5em;
}

.steps h3 {
  font-family: var(--primary-noto);
  font-size: 2rem;
  color: var(--secondary-green);
  margin-bottom: 0.5em;
  margin-top: 0.1em;
}

.steps p {
  color: var(--primary-orange);
  text-align: center;
}

.partnerSection {
  padding: 10% 15% 0em;
  max-width: 100vw;
  overflow-x: hidden;
}

.partnerHeading {
  position: relative;
  background-color: var(--primary-orange);
  margin-bottom: 50px;
  border-radius: 15px;
}

.partnerHeading h2 {
  font-family: var(--secondary-poppins);
  font-size: 3.5rem;
  text-transform: uppercase;
  color: white;
  transform: translateY(0.3em);
}

.partnerHeading .chunk {
  font-family: var(--supporting-retro);
  font-weight: normal;
  font-size: 2.3em;
  text-transform: capitalize;
  line-height: 1em;
}

.crossPos {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.gallery img {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  margin-bottom: -10px;
}

.about {
  position: relative;
  padding: 10% 2em;
  z-index: 10;

  background-color: var(--primary-orange);
  color: white;
}

.about h2 {
  font-family: var(--secondary-poppins);
  font-weight: bold;
  color: var(--secondary-green);
  text-transform: uppercase;
  font-size: 3em;
}

.empha {
  font-weight: 500;
  font-style: italic;
}

.about h3 {
  font-family: var(--secondary-poppins);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 2em;
  max-width: 100vw;
}

.kitSection {
  background-color: white;
  /* padding: 10% 15%; */
  z-index: -5;
}

.kitSection h3 {
  padding: 2em 0em;
}

.kitHeading {
  position: relative;
  margin-top: 10%;

  height: 60px;
  width: 50vw;
  
  font-family: var(--secondary-poppins);
  text-align: center;
  text-transform: uppercase;

  color: white;
  background-color: var(--secondary-green);
}

.fiveStarPos {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.heartPos {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.kitBg {
  position: absolute;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  z-index: 0;
}

.greenStarPosOne {
  right: 0;
  transform: translate(50%, -50%);
  overflow: hidden;
}

.greenStarPosTwo {
  transform: translate(5%, -50%);
  overflow: hidden;
}

.formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1em;
  width: 120%;
  height: 2em;
  z-index: 100;
}

.inputField {
  font-family: var(--secondary-poppins);
  font-weight: bold;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  padding: 1em;
  padding-left: 1.6em;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  background-color: white;
  color: black;
}

.button {
  font-family: var(--secondary-poppins);
  font-weight: bold;
  text-transform: uppercase;
  height: 60px;
  width: 100%;
  padding: 10px;
  background-color: var(--primary-orange);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

/* Change button color on hover */
.button:hover {
  background-color: #0056b3;
}

.socialWrapper{
  padding: 2em 0em;
  margin-bottom: 5em;
}

.socialIcons {
  border-radius: 50%;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .paly {
    height: 100px;
  }

  .h2 {
    font-size: 2.5rem;
  }

  .h3 {
    font-size: 2.5rem;
  }

  .hero {
    padding: 10% 10%;
  }

  .heroGrid{
    padding: 0em;
    margin-top: -100px;
  }

  .heroText {
    margin-top: 3em;
    margin-bottom: 3em;
  }

  .heroText .h3 {
    font-size: 1.6rem;
  }

  .posOne img,
  .posTwo img {
    height: 150px;
    width: 150px;
  }

  .formContainer {
    display: grid;
    grid-template-columns: 1fr;
    width: 80vw;
    row-gap: 10px;
  }

  .howTo {
    grid-template-columns: 1fr;
    margin: 2em;
  }

  .steps p {
    font-size: 1.1em;
  }

  .greenStarPosOne img,
  .greenStarPosTwo img {
    width: 350px;
    height: 350px;
    overflow: hidden;
  }

  .kitHeading {
    width: 65vw;
  }

  .kitSection h3 {
    padding: 1em 0em;
  }

  .greenStarPosTwo {
    transform: translate(-20%, -40%);
  }

  .works {
    background: white;
    padding-top: 2em;
  }

  .footer {
    min-height: 90vh;
    padding: 2em 2em 4em;
  }

  .footerGrid {
    display: contents;
  }

  .footerInfo {
    padding-top: 0px;
    margin-bottom: 100px;
  }

  .footerHand {
    bottom: 0%;
    transform: translate(20%, 20%) rotate(-20deg);
  }

  .footerHand img {
    width: 300px;
    height: 300px;
  }
  
  .footerLogo img {
    width: 300px;  
    height: 300px;
  }
  
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
